{% assign metaobj = shop.metaobjects['app--6007307--sanity-documents-story'].values %}
{% assign short = short | default: false %}
{% assign matchedStory = storyData %}

{% if matchedStory == blank %}
  {% for story in metaobj -%}
    {% if story.slug.value == data.storySlug %}
      {% assign matchedStory = story %}
    {% endif %}
  {% endfor %}

{% else %}
  {% assign matchedStory = storyData %}
{% endif %}


{% if matchedStory %}
  {% assign storyUrl = '/pages/stories/' | append: matchedStory.slug %}
  <div class="tinkiu-story__preview">
    {% if short != true %}
      {% render 'tinkiu-dot' %}
      <h2>Stories & Interviews</h2>
    {% endif %}

    <div class="tinkiu-story__preview__content {% if short == true %}tinkiu-story__preview__content--short{% endif %}">
      <div class="tinkiu-story__preview__image">
        <a href="{{ storyUrl }}">
          {% render 'tinkiu-media'
            , data: matchedStory.content.value.heroMedia %}
        </a>
      </div>
      <div class="tinkiu-story__preview__content__info">
        <div>
          <a href="{{ storyUrl }}">
            <h3>{{ matchedStory.title }}</h3>
          </a>
          <p class="tinkiu-story__preview__category">{{ matchedStory.category }}</p>
          <div class="tinkiu-story__preview__details">
            {% for credit in matchedStory.secondaryCredits.value %}
              <div class="tinkiu-story__preview__detail">
                <p>{{ credit.role }}</p>
                <p>{{ credit.name }}</p>
              </div>
            {% endfor %}
            <div class="tinkiu-story__preview__detail">
              <p>Date</p>
              <p>{{ matchedStory.date | date: '%B %d, %Y' }}</p>
            </div>
          </div>
          <p class="tinkiu-story__preview__description">{{ matchedStory.description }}</p>
          <button class="tinkiu-cta-button">
            <a href="{{ storyUrl }}">Read More</a>
          </button>
        </div>
        {% if short != true and matchedStory.associated %}
          {% assign id = matchedStory.associated | remove: "gid://shopify/Product/" | times: 1 %}
          {% render 'tinkiu-product-insert'
            , id: id
            , textBefore: true
            , size: 'small'
            , imageCount: 2 %}
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}