{% assign slug = slug | remove: '/' %}

{% for o in metaobj -%}
  {% if o.slug.value == slug %}
    {% assign story = o %}
  {% endif %}
{% endfor %}

<script>
  (() => {
    const title = '{{ story.title.value }}';
    if (title) document.title = `${title} | {{ shop.name }}`;
  })()
</script>

<div class="tinkiu-story-container">
  <div class="tinkiu-story">
    {% render 'tinkiu-section-header'
      , title: story.title.value
      , secondaryTitle: story.category %}
    <div class="tinkiu-story__hero-media">
      {% render 'tinkiu-media'
        , data: story.content.value.heroMedia %}
    </div>
    <div class="tinkiu-story__folio {% if true %}tinkiu-story__folio--with-product{% endif %}">
      {% if true %}
        {% assign id = story.associated | remove: "gid://shopify/Product/" | times: 1 %}
        {% render 'tinkiu-product-insert'
          , id: id
          , size: 'small'
          , imageCount: 2 %}
      {% endif %}
      <div class="tinkiu-story__details-container">
        <div class="tinkiu-story__details">
          {% for credit in story.secondaryCredits.value %}
            <div class="tinkiu-story__detail">
              <p>{{ credit.role }}</p>
              <p>{{ credit.name }}</p>
            </div>
          {% endfor %}
          <div class="tinkiu-story__detail">
            <p>Date</p>
            <p>{{ story.date | date: '%B %d, %Y' }}</p>
          </div>
        </div>
        <p class="tinkiu-story__description">
          {{ story.description }}
        </p>
      </div>
    </div>

    {% render 'tinkiu-dot' %}
    <div class="tinkiu-portable-text">
      {% render 'portable-text'
        , portableText: story.content.value.blockContent %}
    </div>

  </div>
</div>