{% assign metaobj = shop.metaobjects['app--6007307--sanity-documents-footer'].values %}

{% for o in metaobj -%}
  {% assign data = o %}
{% endfor %}

<script>
   document.addEventListener('DOMContentLoaded', () => {
   const popupMenu = document.querySelector('.tinkiu-footer__links__column--popup-menu');
   document.querySelectorAll('.tinkiu-footer__links__column--popup-menu__trigger').forEach(trigger => {
      trigger.addEventListener('click', (e) => {
        e.stopPropagation();
        popupMenu?.classList.toggle('is-open');
      });
    });

    document.addEventListener('click', () => {
      popupMenu?.classList.remove('is-open');
    });
  })
</script>

<div class="tinkiu-footer__links">

  <div class="tinkiu-footer__links__column tinkiu-footer__links__column--left">
    <span>Tinkiu © {{ 'now' | date: '%Y' }}</span>
    {% form 'localization' %}
      <div class="tinkiu-footer__links__column--left__select">
        <span>COUNTRY/CURRENCY</span>
        <select name="country_code" onchange="this.form.submit()">
          {% for country in localization.available_countries %}
            <option
              value="{{ country.iso_code }}"
              {% if country.iso_code == localization.country.iso_code %}
              selected{% endif %}>
              {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
            </option>
          {% endfor %}
        </select>
      </div>
    {% endform %}

  </div>
  <div class="tinkiu-footer__links__column tinkiu-footer__links__column--social">
    <a href={{ data.instagram }}>
      {% render 'tinkiu-icon-instagram' %}
    </a>
    <a href={{ data.tiktok }}>
      {% render 'tinkiu-icon-tiktok' %}
    </a>
  </div>

  <div class="tinkiu-footer__links__row-mobile tinkiu-footer__links__nav">
    <div class="tinkiu-footer__links__column--popup-menu">
      <button class="tinkiu-footer__links__column--popup-menu__trigger" type="button">
        CUSTOMER CARE
      </button>
      <div class="tinkiu-footer__links__column--popup-menu__blocker"></div>
      <ul class="tinkiu-footer__links__column--popup-menu__dropdown">
        <li>
          <a href="/pages/services">FAQ</a>
        </li>
        <li>
          <a href="/pages/shipping-returns">SHIPPING & RETURNS</a>
        </li>
        <li>
          <a href="/pages/privacy-policy">PRIVACY POLICY</a>
        </li>
        <li>
          <a href="/pages/terms-and-conditions">TERMS AND CONDITIONS</a>
        </li>
        <li>
          <button type="button">CLOSE</button>
        </li>
      </ul>
    </div>
  {% comment %}     <div class="tinkiu-footer__links__column">
                                                              <a href="/">PRODUCTS</a>
                                                              <a href="/">SERVICES</a>
                                                              <a href="/">BLOG</a>
                                                            </div>
                                                            <div class="tinkiu-footer__links__column">
                                                              <a href="/">ABOUT</a>
                                                              <a href="/">CONTACT</a>
                                </div> {% endcomment %}
  </div>
</div>