{% assign password = shop.metaobjects['app--6007307--sanity-documents-password'].values %}

{% for o in password %}
  {% assign p = o %}
{% endfor %}


<div class="tinkiu-password-main__form-container">
  <img src="{{ p.backgroundImage.value.image.url}}">
  <div class="tinkiu-password-main__form">
    <h2>{{ p.header.value }}</h2>
    {% assign descriptionLines = p.description.value | newline_to_br | split: '<br />' %}
    <div class="tinkiu-password-main__form__description">
      {% for line in descriptionLines %}
        <p>{{ line }}</p>
      {% endfor %}
    </div>

    {% render 'tinkiu-newsletter' %}

    <password-modal class="tinkiu-password-modal">
      <details class="password-modal modal">
        <summary class="modal__toggle" aria-haspopup="dialog">
          <div class="tinkiu-password-button">

            Login with password
          </div>
        </summary>
        <div
          class="modal__content"
          role="dialog"
          aria-labelledby="DialogHeading"
          aria-modal="true">
          <div class="password-modal__content" tabindex="-1">
            <button
              type="button"
              class="modal__close-button link"
              aria-label="{{ 'accessibility.close' | t }}">
              <span class="svg-wrapper">
                {{- 'icon-close.svg' | inline_asset_content -}}
              </span>
            </button>
            <h2 class="password-modal__content-heading" id="DialogHeading">
              Store password:
            </h2>
            {%- form 'storefront_password'
              , class: 'tinkiu-password-form' -%}
              <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="field__input"
                  autocomplete="current-password"
                  {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">
                  {{- 'general.password_page.login_form_password_placeholder' | t -}}
                </label>
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">
                      <span class="svg-wrapper">
                        {{- 'icon-error' | inline_asset_content -}}
                      </span>
                      {{ 'general.password_page.login_form_error' | t -}}
                    </span>
                  </div>
                {%- endif -%}
              </div>
              {% render 'tinkiu-cta-button'
                , label: 'Login' %}
            {%- endform -%}

          </div>
        </div>
      </details>
    </password-modal>
  </div>
</div>