{% assign metaobj = shop.metaobjects['app--6007307--sanity-documents-header'].values %}

{% for o in metaobj -%}
  {% assign data = o %}
{% endfor %}


<link
  rel="stylesheet"
  href="{{ 'component-list-menu.css' | asset_url }}"
  media="print"
  onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'component-search.css' | asset_url }}"
  media="print"
  onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'component-menu-drawer.css' | asset_url }}"
  media="print"
  onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'component-cart-notification.css' | asset_url }}"
  media="print"
  onload="this.media='all'">

{%- if settings.predictive_search_enabled -%}
  <link
    rel="stylesheet"
    href="{{ 'component-price.css' | asset_url }}"
    media="print"
    onload="this.media='all'">
{%- endif -%}

{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link
    rel="stylesheet"
    href="{{ 'component-mega-menu.css' | asset_url }}"
    media="print"
    onload="this.media='all'">
{%- endif -%}

{% assign metaobj = shop.metaobjects['app--6007307--sanity-documents-featuredCollection'].values %}
{% for o in metaobj -%}

  {% assign id = o.featuredCollection | split: '/' | last | plus: 0 %}
  {% for collection in collections %}
    {% if collection.id == id %}
      {% assign featuredCollection = collection.handle | prepend: '/collections/' %}
    {% endif %}
  {% endfor %}
{% endfor %}


<header class="{% if request.path == '/' or request.path == '/pages/home' %}tinkiu-homepage-header{% endif %} tinkiu-header tinkiu-password-header">


  <div class="tinkiu-logo-container">
    <a href="/pages/home">
      {% render 'tinkiu-logo' color: 'white' %}
    </a>
  </div>


  <div class="tinkiu-logo-container">
    <a href="/">
      {% render 'tinkiu-logo' color: 'white' %}
    </a>
  </div>
  <ul>
    {% assign cartText = 'CART' %}
    {% if cart != empty %}

      {% assign cartCount = cart.item_count %}
      {% assign cartText = 'CART ' | append: ' ( ' | append: cartCount | append: ' )' %}
    {% endif %}

    {% render 'tinkiu-header-anchor' href: '/account/login', text: data.orders %}
  </ul>
</header>

